@font-face {
  font-family: 'Bahnschrift Regular';
  font-style: normal;
  src: local('Bahnschrift Regular'), url('BAHNSCHRIFT.woff') format('woff');
}
@font-face {
  font-family: 'Bahnschrift Light';
  font-style: normal;
  font-weight: 300;
  src: local('Bahnschrift Light'), url('BAHNSCHRIFT.woff') format('woff');
}
/* @font-face {
  font-family: 'Din Pro Regular';
  font-style: normal;
  src: local('Din Pro Regular'), url('DINPro.woff') format('woff');
}
@font-face {
  font-family: 'Din Pro Medium';
  font-style: normal;
  src: local('Din Pro Medium'), url('DINPro-Medium.woff') format('woff');
} */

@import url("./DINPro/style.css");
@import url("./DINPro/style-medium.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Din Pro", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 30px;
  font-weight: 500;
  overflow: visible;
}

p {
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

.main {
  z-index: 0 !important;
  position: absolute;
  padding-left: 3vw;
  width: 100%;
  /* width: calc(var(--vw, 1vw) * 100); */
}

.placeholder {
  width: 100%;
  max-width: 1200px;
}

button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

button:focus {
  outline: none;
}

@media screen and (min-width: 1000px) {
  .main {
    padding-left: 370px;
  }
}