.Header {
    z-index: 10;
    backdrop-filter: blur(5px);
    padding-bottom: 7px;
    padding-top: 5px;
    background-color: #ffffff99;
}

.Header::after {
    height: 1px;
    bottom: 0px;
}

p {
    text-align: center;
}

.content {
    --overflow: hidden;
}

.innerScroll {
    width: 100%;
    height: 100%;
    overflow: scroll;
    
}

.innerScroll::-webkit-scrollbar {
    width: 0;
}

.centerAlign {
    margin: 0 auto;
    max-width: 800px;
}