.main {
    text-align: center;
    margin: 20px;
    font-size: 30px;
}
.img {
    max-width: 500px;
    max-height: 500px;
    object-fit: contain;
    margin: 20px;
    border-radius: 20px;
}
.norm {
    margin: 10px;
    text-align: left;
    font-size: 20px;
}
.thing {
    padding: 10px 25%;
    margin: 10px;
}
li {
    font-size: 20px;
}