.all {
    display: inline-flex;
    width: 100vw;
}
.sideNav {
    width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sideNav a {
    color: #00217a;
    font-size: 22px;
    padding-left: 20px;
}

.image {
    object-fit: contain;
    width: 100%;
    padding: 20px;
}

.profileArea {
    background: linear-gradient(302deg, rgba(0,163,255,1) 0%, rgba(0,70,153,1) 100%);
    justify-content: space-around;
    display: flex;
    padding: 10px;
    border-radius: 0vw 25px 0vw 0vw;
}

.profileImage {
    object-fit: contain;
    margin-right: 10px;
    border-radius: 20px;
    align-self: center;
    height: 80%;
    max-height: 120px;
}

.profileText {
    margin: 0;
}

.sioButton {
    cursor: pointer;
}

.mainC {
    width: 100%;
    overflow: scroll;
    height: 100vh;
}