.all {
    display: inline-flex;
}
.sideNav {
    width: 30vw;
    height: 100vh;
    background-color: antiquewhite;
}
.sideNav a {
    font-size: 3vw;
    line-height: 8vh;
    padding-left: 1.7vw;
    color: #00217a;
}
.logo {
    height: 20%;
    width: 100%;
}
.logo .image {
    max-width: 40%;
    max-height: 20vh;
    padding: 1.5vw;
    z-index: 1 !important;
    position: relative;
}
.logo .upper {
    display: inline-block;
    font-size: 6vw;
    z-index: 2 !important;
    position: absolute;
}

@media screen and (min-width: 1000px) {
    .sideNav {
        width: 300px;
    }
    .sideNav a {
        font-size: 30px;
        padding-left: 17px;
    }
    .logo .image {
        padding: 15px;
    }
    .logo .upper {
        font-size: 60px;
    }
}