.heading {
    font-size: 5vw;
    margin-bottom: 15px;
}
.subH {
    font-size: 3vw;
    margin: 4vw 0vw 1vw 2vw;
}
.subtitle {
    font-size: 2.5vw;
    margin: 0;
    width: 95%;
    color: #727272;
}
.container {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    width: 95%;
    padding: 2vw;
    border-radius: 2vw;
}
.text {
    font-size: 2vw;
    margin: 0;
    color: #727272;
}
.egImg {
    height: auto;
    width: auto;
    max-height: 250px;
    margin: 2vw;
    max-width: 50%;
    object-fit: contain;
}
.lower {
    width: 100%;
    text-align: center;
}
.mainV {
    margin-bottom: 10vh;
}
.buttonArea {
    padding: 4vw;
    text-align: center;
}
.optionToPage {
    padding: 1.5vw 5vw;
    font-size: 2.5vw;
    font-family: inherit;
    border: none;
    background: #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    color: #000;
    border-radius: 2vw;
}
.optionToPage:focus {
    outline: none;
}

@media screen and (min-width: 1000px) {
    .optionToPage {
        padding: 15px 50px;
        font-size: 25px;
        border-radius: 20px;
    }
    .buttonArea {
        padding: 40px;
    }
    .egImg {
        margin: 20px;
    }
    .heading {
        font-size: 50px;
    }
    .subH {
        font-size: 30px;
        margin: 40px 0px 10px 20px;
    }
    .subtitle {
        font-size: 25px;
        margin: 0;
    }
    .text {
        font-size: 20px;
        margin: 0;
    }
    .container {
        padding: 20px;
        border-radius: 20px;
    }
}