.sideNav {
    user-select: none;
    width: 36vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* overflow: hidden; */
    min-width: 290px;
    max-width: 340px;
    position: fixed;
    z-index: 10 !important;
    position: absolute;
    background-color: white;
    font-weight: 500;
}

.extra {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.toggle {
    z-index: 100 !important;
    position: absolute;
    font-size: 40px;
    width: 60px;
    height: 60px;
    background-color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    bottom: 3vw;
    right: 3vw;
}

.mainC {
    width: 100vw;
    padding-left: 38vw;
}

.sideNav .unSelected {
    color: #00217a;
    font-size: 22px;
    padding: 10px 25px;
    z-index: 10;
    transition: 0.8s color;
}

.sideNav .selected {
    color: white;
    font-size: 22px;
    padding: 10px 25px;
    z-index: 10;
    transition: 0.8s color;
}

.image {
    max-height: 100%;
    max-width: 100%;
    padding: 30px;
    object-fit: contain;
    min-height: 150px;
    object-position: left;
}

.profileArea {
    background: linear-gradient(302deg, rgba(0,163,255,1) 0%, rgba(0,70,153,1) 100%);
    display: flex;
    padding: 10px;
    border-radius: 0vw 25px 0vw 0vw;
    text-align: left;
    width: 100% !important;
    height: 17%;
    max-height: 170px;
}

.profileImage {
    border-radius: 1.5vw;
    margin-right: 15px;
    align-self: center;
    max-height: 80%;
}

.profileText {
    margin: 10px 0px 10px 10px;
    font-size: 2.5vw;
    color: white;
}

.select {
    /* width: 22vw; */
    width: 94%;
    border-radius: 20px;
    margin-left: 10px;
    height: 60px;
    position: absolute;
    z-index: 1;
    margin-top: -7px;
    opacity: 0;
    background: linear-gradient(90deg, #008FFE 0%, #8CFFFD 100%);
    /* min-width: 270px;
    max-width: 310px; */
    margin-right: 2vw;
}

.navIcon {
    height: 45px;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    margin-right: 10px;
    margin-top: 7.5px;
    position: absolute;
    right: 0;
}

.sioButton {
    text-align: left;
    background: transparent;
    border: none;
    color: #ffffff;
    font-family: inherit;
    font-size: 1.8vw;
    margin: 5px 0px 5px 5px;
}

.sioButton:focus {
    outline: none;
}

.profileTextArea {
    width: 100%;
    text-align: left;
}

@media screen and (min-width: 1000px) {
    .profileText {
        font-size: 25px;
    }
    .profileImage {
        border-radius: 15px;
    }
    .sioButton {
        font-size: 18px;
    }
    .sideNav {
        margin-right: 40px;
    }
    .mainC {
        padding-left: 380px;
    }
}

@media screen and (max-width: 800px) {
    .mainC {
        padding-left: 300px;
    }
    .profileText {
        font-size: 20px;
    }
    .sioButton {
        font-size: 15px;
    }
}

/*
.profileImage {
    object-fit: contain;
    margin-right: 10px;
    border-radius: 20px;
    align-self: center;
    height: 80%;
    max-height: 120px;
}

.profileText {
    margin: 0;
}

.sioButton {
    cursor: pointer;
}

.mainC {
    width: 100%;
    overflow: hidden;
    height: 100vh;
}
*/