.timetableHead {
    font-size: 5vh;
}
strong {
    font-weight: 500;
}
.timetableWeek {
    font-size: 3.5vh;
    margin: 2vh 1vh;
    font-family: inherit;
    color: inherit;
    background: transparent;
    border: none;
    font-weight: inherit;
    margin: 0;
    text-align: center;
}
.timetableDay {
    font-size: 3.5vh;
    margin: 2vh 1vh;
    font-family: inherit;
    color: inherit;
    margin: 4vh 0vw 2vh;
}

@media screen and (min-width: 1000px) {
    .timetableHead {
        font-size: 50px;
    }
    .timetableWeek {
        font-size: 25px;
        margin: 20px 10px;
    }
}