.timetablePageHead {
    font-size: 5vh;
}
strong {
    font-weight: 500;
}
.timetableWeek {
    font-size: 3.5vh;
    margin: 2vh 1vh;
    font-family: inherit;
    color: inherit;
    background: transparent;
    border: none;
    font-weight: inherit;
    margin: 0;
    text-align: center;
}
.timetableDay {
    font-size: 3.5vh;
    margin: 2vh 1vh;
    font-family: inherit;
    color: inherit;
    margin: 4vh 0vw 2vh;
}

@media screen and (min-width: 1000px) {
    .timetablePageHead {
        font-size: 50px;
    }
    .timetableWeek {
        font-size: 25px;
        margin: 0px;
        text-align: left;
    }
    .timetable {
        width: 100%;
        display: table;
        margin-top: 30px;
    }
    .timetableHead {
        width: 95%;
        display: inline-table;
        max-width: 1500px;
        border-radius: 15px;
        table-layout: fixed !important;
        background: #f3f6ff;
    }
    .timetableHeadTime {
        background: transparent;
        text-align: center;
        color: #00217a;
        font-weight: inherit;
        font-size: 20px;
        padding: 15px;
    }
    .time {
        margin: 5px 0 0 0;
        font-size: 15px;
        font-family: inherit;
        color: inherit;
    }
    .thing {
        text-align: left !important;
        background: #f3f6ff;
        border-radius: 15px;
    }
}