.candidateContainer {
    width: 95%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    padding: 2vw;
    border-radius: 2vw;
    margin: 10px 0;
    display: inline-flex;
}
.candName {
    margin: 0px;
    font-size: 40px;
}
.candTextArea {
    margin-left: 20px;
}
.candBio {
    margin: 10px 0px;
    font-size: 20px;
    font-family: inherit;
}
.candPic {
    max-height: 180px;
    border-radius: 20px;
}