@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,500,900&display=swap');

.container {
    position: absolute;
    margin: 0;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 20;
    opacity: 1;
}

p {
    font-family: 'Raleway', sans-serif;
    color: white;
}

.up {
    color: white;
}

#title {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 50px;
    color: white;
}

input {
    background-color: white;
    font-family: monospace;
    padding: 15px;
    border-radius: 30px;
    color: black;
    border: none;
    width: 100%;
}

.background {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


#login {
    margin-top: 30px;
    text-align: center;
    padding: 15px;
    border-radius: 30px;
    width: 100%;
    border: none;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    color: black;
    cursor: pointer;
}

#login:disabled:hover {
    cursor: default;
}

*:focus {
    outline: none;
}

#message {
    text-align: center;
}

.mobileSupport {
    transition: 1s;
}

@media only screen and (max-height: 600px) and (min-height: 400px) {
    .mobileSupport {
        transform: scale(0.9);
    }
}

@media only screen and (max-height: 400px) {
    .mobileSupport {
        transform: scale(0.7);
    }
}

.redOutline {
    box-shadow: 0 0 10px #ffffff;
}

textarea:focus, input:focus{
    outline: none;
}
/* Waves */

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    min-width: 1500px;
    overflow: hidden;
    height: 100%;
    bottom: 0px;
    background-image: linear-gradient(200deg, rgba(0,163,255,1) 0%, rgba(0,70,153,1) 100%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
p {
    font-size: 20px;
}

.whiteBackground {
    background-color: white;
    color: white;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
}


/* Loader https://codepen.io/jczimm/pen/vEBpoL/ */

.loader {
    position: relative;
    margin: 0 auto;
    width: 50px;
}
.loader:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.circular {
-webkit-animation: rotate 2s linear infinite;
        animation: rotate 2s linear infinite;
-webkit-transform-origin: center center;
        transform-origin: center center;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite;
            animation: dash 1.5s ease-in-out infinite;
    stroke: white;
    stroke-linecap: round;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}
